Makefile.in
Makefile
aclocal.m4
autom4te.cache/
configure
scripts/compile
scripts/config.guess
scripts/config.sub
scripts/depcomp
scripts/install-sh
scripts/ltmain.sh
scripts/missing
src/Makefile.in
src/Makefile
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
